.page-name{
    &__item{
        margin-bottom: 20px;
    }
    &__input-name{
        display: flex;
    }
    &__nationality{
        display: flex;
    }
    &__buttons{
        height: max-content;
    }
}