<div class="appointment">
    <h1 class="title">Назначение встречи</h1>
    {% include '../meet-header/meet-header.twig' %}
    {% include '../at-work/at-work.twig' %}
    {% include '../home/home.twig' %}
    {% include '../new-address/new-address.twig' %}
</div>