<div class="search">
    <div class="search__top">
        <h1 class="search__title title">Ищем звонок специально для Вас</h1>
        {% include '@elements/timer/timer.twig' %}
    </div>
    <p class="search__content speech">
        Обычно это занимает до десяти секунд,но иногда время ожидания затягивается до нескольких минут.
        Оставайтесь на этой странице и не перезагружайте ее.
    </p>
    <div class="search__buttons">
        <button class="search__btn button button_color_blue">Перестать ожидать звонок</button>
    </div>
    <a href="./ringup.html" class="search__link button button_color_blue">Следующая страница ➞</a>
</div>