<div class="end">
    <h1 class="title">Завершение</h1>
    <div class="end__item">
        {% include '@elements/say/say.twig' %}
        <p class="speech">Спасибо за предоставленную информацию. Также можете пригласить друзей самостоятельно в личном кабинете. Отмечу, что со всеми акциями и их полными условиями Вы можете ознакомиться на сайте tinkoff.ru. Всего Вам доброго, до свидания.</p>
    </div>
    <div class="end__buttons">
        <a href="" class="button button_color_yellow">Завершить задание</a>
        <div class="end__next">
            <input class="end__input checkbox" type="checkbox" name="end" id="end">
            <label class="end__label" for="end">Взять следующее задание</label>
        </div>
    </div>
</div>