<div class="specify-number text-up input-error">
    <select class="specify-number__select input" name="specify-number" id="specify-number">
        <option value=""></option>
        <option value="Клиенту на текущий номер">Клиенту на текущий номер</option>
        <option value="Клиенту на новый номер">Клиенту на новый номер</option>
        <option value="Третьему лицу">Третьему лицу</option>
    </select>
    <label class="specify-number__label label" for="specify-number">Кому перезвонить:</label>
    <div class="input-error__text hidden">Поле заполненно не верно</div>
</div>