<div class="dial">
   <div class="dial__top">
       <h1 class="dial__title title">Дозваниваемся до клиента</h1>
       {% include '@elements/timer/timer.twig' %}
   </div>
    <p class="dial__content">Ожидайте, мы дозваниваемся до клиента.</p>
    <a href="./not-take.html" class="button button_color_blue">Следующая страница ➞</a>
</div>