<div class="comment">
    <div class="comment__header">
        <div class="comment__title">Комментарии</div>
        <div class="comment__amount">0</div>
        <div class="comment__arrow">
            <div class="arrow-down arrow-down_color_blue hidden"></div>
            <div class="arrow-up arrow-up_color_blue hidden"></div>
        </div>
    </div>
    <div class="comment__items"></div>
    <div class="comment__content hidden">
        <textarea class="comment__content-input translate" name="comment"  rows="14" maxlength="100" placeholder="Введите комметарий"></textarea>
        <div class="comment__content-symbols"><span class="comment__symbols">0</span>/100</div>
    </div>
    <div class="comment__footer">
        <button class="comment__add-comment button button_color_blue">Добавить комментарий</button>
        <div class="comment__buttons comment__buttons_hidden">
            <button class="comment__cancel button button_color_blue">Отмена</button>
            <button class="comment__save button button_color_blue">Сохранить</button>
        </div>
    </div>



</div>
