<div class="not-leave-request">
    <h1 class="title">Заявку не оставлял</h1>
    {% include '@elements/say/say.twig' %}
    <p class="speech"><span class="client-name">Юлия Владимировна</span>, возможно мой звонок был для Вам неожиданным. Предлагаем оформить нашу сим-карту.
    Тариф представляет собой конструктор и вы можете выбрать себе необходимое количество минут и мобильного интернета. Используя минуты из пакета, вы можете звонить абонентам
    любых операторов в домашнем регионе и в поездках по России, исключение Крым и Севастополь. Давайте сейчас подберем тарифный план, и если вам все понравится, мы заполним заявку?</p>
    <div class="not-leave-request__buttons">
        <a href="./page-selling.html" class="button button_color_yellow">Готов заполнить заявку</a>
        <a href="./call-back.html" class="button button_color_blue">Просит перезвонить</a>
        <a href="./page-denial.html" class="button button_color_blue">Отказывается. Не интересно</a>
    </div>
</div>