.add-friend{
    width: 50%;
    &__btn{
        max-width: 600px;
        width: 100%;
        background-color: var(--color__light-blue);
        padding: 15px 0;
        border-radius: 5px;
        color: var(--color__blue);
        font-size: 17px;
        text-transform: uppercase;

    }

}