.call-back{
    &__speech{
        margin-bottom: 20px;
    }
    &__specify{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    &__phone{
        margin-bottom: 20px !important;
    }
    &__third-person{
        width: 100%;
    }
    &__footer{
        display: flex;
        flex-wrap: wrap;
    }
}