.button {
  margin: 0 10px 10px 0;
  border-radius: 5px;
  padding: 10px 15px;
  &_color {
    &_blue {
      border: 1px solid var(--color__dark-blue);
      color: var(--color__dark-blue);
    }
    &_yellow{
      border: 1px solid var(--color__yellow);
      color: var(--color__black);
      background-color: var(--color__yellow);
    }
    &_red{
      border: 1px solid var(--color__red);
      color: var(--color__red);
    }
  }
}
