<div class="birthday text-up input-error cross format">
    <input class="birthday__input input datepicker" type="text" id="birthday">
    <label class="label" for="birthday">Дата рождения:</label>
    {% include '../icon-date/icon-date.twig' %}
    <div class="cross__item hidden"></div>
    <div class="input-error__text hidden">Поле заполненно не верно</div>
</div>