.home{
    &__item{
        margin-bottom: 20px;
    }
    &__buttons{
        height: max-content;
        display: flex;
        flex-wrap: wrap;
        :last-child{
            margin-right: 0;
        }
    }
}