<div class="country hidden">
    <div class="country__content text-up input-error cross filled format">
        <input class="input translate region" type="text" id="country" name="country">
        <label class="label" for="country">Укажите страну</label>
        <div class="cross__item hidden"></div>
        <div class="filled__item hidden">✔</div>
        <div class="input-error__text hidden">Поле заполненно не верно</div>
    </div>
</div>