<div class="full-name">
    <div class="full-name__item text-up input-error cross filled format">
        <input class="input translate name" type="text" id="surname" name="full-name">
        <label class="label" for="surname">Фамилия</label>
        <div class="cross__item hidden"></div>
        <div class="filled__item hidden">✔</div>
        <div class="input-error__text hidden">Поле заполненно не верно</div>
    </div>
    <div class="full-name__item text-up input-error cross filled format">
        <input class="input translate name" type="text" id="name" name="full-name">
        <label class="label" for="name">Имя</label>
        <div class="cross__item hidden"></div>
        <div class="filled__item hidden">✔</div>
        <div class="input-error__text hidden">Поле заполненно не верно</div>
    </div>
    <div class="full-name__item text-up input-error cross filled format">
        <input class="input translate name" type="text" id="patronymic" name="full-name">
        <label class="label" for="patronymic">Отчество</label>
        <div class="cross__item hidden"></div>
        <div class="filled__item hidden">✔</div>
        <div class="input-error__text hidden">Поле заполненно не верно</div>
    </div>
</div>