.transfer{
    max-width: 550px;
    width: 80%;
    position: relative;
    &__input{
        width: 100% !important;
        padding: 30px 20px 10px 20px;
        background-color: var(--color__light-blue);
        border-radius: 5px;
    }
    &__label{
        position: absolute;
        top: 21px;
        left: 20px;
        color: var(--color__grey);

    }
}