<div class="transfer text-up input-error cross filled format">
    <input class="transfer__input phone" type="tel" name="transfer" id="transfer">
    <label class="transfer__label" for="transfer">Номер для переноса:</label>
    <div class="cross__item hidden"></div>
    <div class="filled__item hidden">✔</div>
    <div class="input-error__text hidden">Поле заполненно не верно</div>
</div>