<div id="call-disunite" class="modal-hider">
    <h1 class="title">Звонок сорвался</h1>
    <p class="modal-hider__text">Перезвоните или зафиксируйте результат звонка</p>
    <div class="modal-hider__buttons">
        <a href="./call.html" class="modal-hider__btn button button_color_yellow">Перезвонить сейчас</a>
        <a href="./call-back.html" class="modal-hider__btn button button_color_blue">Перезвонить потом</a>
        <a href="./page-denial.html" class="modal-hider__btn button button_color_red">Отказывается, не интересно</a>
    </div>
</div>