<div class="at-work">
    <div class="at-work__item">
        {% include '@elements/say/say.twig' %}
        <p class="speech">Мы можем запланировать встречу с представителем на <span class="speech-date">09 сентября с 12:00 до 14:00</span>, к вам на работу, по адресу:</p>
        {% include '@elements/input-address/input-address.twig' %}
    </div>
    <div class="at-work__item">
        {% include '@elements/say/say.twig' %}
        <p class="speech">Подскажите, когда Вы можете встретиться с представителем?</p>
        <div class="at-work__inputs-date">
            <div class="date text-up input-error cross format">
                <input class="date__input input  datepicker" type="text" name="specify-date" id="datepicker">
                <label class="date__label label" for="datepicker">Дата перезвона:</label>
                {% include '@elements/icon-date/icon-date.twig' %}
                <div class="cross__item hidden"></div>
                <div class="input-error__text hidden">Поле заполненно не верно</div>
            </div>
            <div class="time text-up input-error">
                <select class="time__select input" name="meet-time" id="meet-time">
                    <option value="" selected></option>
                    <option value="с 05:00 до 07:00">с 05:00 до 07:00</option>
                    <option value="с 07:00 до 09:00">с 07:00 до 09:00</option>
                    <option value="с 09:00 до 11:00">с 09:00 до 11:00</option>
                    <option value="с 11:00 до 13:00">с 11:00 до 13:00</option>
                    <option value="с 13:00 до 15:00">с 13:00 до 15:00</option>
                    <option value="с 15:00 до 17:00">с 15:00 до 17:00</option>
                    <option value="с 17:00 до 19:00">с 17:00 до 19:00</option>
                    <option value="с 19:00 до 21:00">с 19:00 до 21:00</option>
                    <option value="с 22:00 до 00:00">с 22:00 до 00:00</option>
                    <option value="с 00:00 до 02:00">с 00:00 до 02:00</option>
                    <option value="с 02:00 до 04:00">с 02:00 до 04:00</option>
                    <option value="с 04:00 до 06:00">с 04:00 до 06:00</option>
                </select>
                <label class="time__label label" for="meet-time">Время встречи:</label>
                <div class="input-error__text hidden">Поле заполненно не верно</div>
            </div>
        </div>
    </div>
    <div class="at-work__buttons">
        <a href="./page-meet-confirmation.html" class="button button_color_yellow">Назначить втсречу</a>
        <a href="./call-back.html" class="button button_color_blue">Сейчас не может дать ответ</a>
    </div>
</div>