.meeting-confirmation{
    &__title{
        color: var(--color__green);
        margin-bottom: 30px;
    }
    &__item{
        margin-bottom: 20px;
        &:nth-of-type(2){
            padding-bottom: 5px;
        }
    }
}