.input{
    font-size: 16px;
    width: 100%;
    background-color: var(--color__light-blue);
    border-radius: 5px;
    padding: 30px 15px 10px 15px;
    text-transform: capitalize;
    cursor: pointer;
}
.label{
    position: absolute;
    top: 21px;
    left: 15px;
    color: var(--color__silver);
}