.say{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    &__text{
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        color: var(--color__grey);
    }
}