<div class="block-region text-up input-error cross filled format">
    <input class="block-region__input input translate region" type="text" id="region">
    <label class="block-region__label label" for="region">Регион</label>
    <div class="block-region__loupe">&#128269;</div>
    <div class="cross__item hidden"></div>
    <div class="filled__item hidden">✔</div>
    <div class="input-error__text hidden">Поле заполненно не верно</div>
</div>