.block-region{
    max-width: 600px;
    position: relative;
    cursor: pointer;
    &__input{
        padding: 30px 15px 10px 50px !important;
    }
    &__label{
        left: 50px !important;
    }
    &__loupe{
        position: absolute;
        top: 23px;
        left: 15px;
    }
}
